.section__tagline--care-tagline {
    font-size: var(--h1)
}

.section__description--care-description {
    text-align: left;
    margin: 0 0 40px 0;
    font-size: var(--main-text);
    line-height: 30px;
}

.section__btn--care-btn {
    background-color: var(--main-blue);
    color: white;
}

.section__btn--care-btn:hover {
    background-color: transparent;
    color: var(--main-blue);
    border-color: var(--main-blue);
}

