.feedback {
    display: block;
}

.feed__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feed__wrapper {
    display: flex;
}

.feed__avatar {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.feed__avatar img {
    width: 40%;
    margin-bottom: 10px;
}

.feed__text {
    order: -1;
}

.feed__text p {
    margin: 0 0 20px 0;
    font-size: 19px;
    line-height: 30px;
    color: white;
    text-align: center;
}

.section__tagline--feed-tagline {
    text-align: center;
    color: white;
}

.section__tagline--feed-tagline::after {
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.feed__name {
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin: 0 0 13px 0;
    text-align: center;
}

.feed__company {
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 0;
    text-align: center;
}

.swiper-slide {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 30px;
    width: 80%;
}

.feed {
    margin-right: 30px;
}

.feed:first-child {
    margin-left: 20px;
}

.swiper-wrapper {
    padding-bottom: 60px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-button-next, 
.swiper-button-prev {
    top: 100%;
    transform: translateY(-50%);
    display: none;
}

.swiper-button-prev {
    left: 380px;
}

.swiper-button-next {
    right: 380px;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    bottom: 0;
}
