.footer {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
}

.footer__container {
    display: grid;
    justify-content: space-between;
}

.footer__logo img {
    margin-bottom: 20px;
}

.footer__nav-list p {
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 0 20px 0;
}

.footer__nav-item {
    margin: 0 0 10px 0;
}

.footer__nav-item a {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.footer__description {
    margin: 0 0 20px 0;
}

.footer__copyright {
    margin-top: 0;
    margin-bottom: 40px;
}

.footer__description,
.footer__copyright {
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.footer__nav-list a:hover {
    text-decoration: underline;
}

.footer__nav-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 147px);
    justify-content: space-between;
    gap: 20px;
}