.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: space-between;
    padding: 56px 190px;
}

.nav__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
}

.nav__link {
    font-size: 18px;
    color: var(--gray);
}

