.services {
    display: block;
    background-image: url('/img/bg-element.png');
    background-repeat: no-repeat;
    background-position: 100% -100%;
    background-size: cover;
}

@media (min-resolution: 2dppx) {
    .services {
        background-image: url('/img/bg-element@2x.png');
    }
};

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, 335px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.services__item {
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 40%);
    padding: 50px 40px;
}

.services__icon {
    margin-bottom: 30px;
}

.services__name {
    font-weight: 600;
    font-size: var(--h3);
    margin: 0 0 15px 0;
}

.services__text {
    font-size: var(--content-text);
    color: var(--gray);
    margin: 0;
    line-height: 20px;
    hyphens: auto;
    text-align: justify;
}

.section__btn--services-btn {
    margin: 0 auto;
}