.services {
    margin-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/bg\ element.png');
    background-repeat: no-repeat;
}

.section__tagline--services-tagline::after {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.section__description--services-description {
    width: 952px;
    text-align: center;
}

.services__list {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 350px) ;
    gap: 35px;
    justify-content: center;
    margin-bottom: 50px;
}

.services__item {
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 10px 40px 50px rgb(229 233 246 / 40%);
    padding: 50px 40px;
}

.services__icon {
    margin-bottom: 30px;
}

.services__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 56px;
    margin: 0 0 30px 0;
}

.services__text {
    font-size: var(--content-text);
    color: var(--gray);
    margin: 0;
    width: 78.23%;
    text-align: left;
}

.section__btn--services-btn {
    margin: 0 auto;
}