body {
    font-family: 'Graphik LCG', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    word-break: break-all;
    overflow: hidden;
}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

p, h1, h2, h3 {
    word-break: normal;
    overflow: hidden;
}

.main {
    padding-top: 110px;
}

.adaptive-img {
    width: 100%;
    object-fit: cover;
}

.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    row-gap: 50px;
}

.section__tagline {
    position: relative;
    margin-top: 0;
    margin-bottom: 18px;
    font-size: calc(var(--h2-mob) + 13 * ((100vw - 320px) / (1247 - 320)));
    font-weight: bold;
    color: var(--black);
}

.section__description {
    font-size: calc(var(--description) + 4 * ((100vw - 320px) / (1247 - 320)));
    color: var(--gray);
    margin: 0 auto 50px;
    line-height: 28px;
    hyphens: auto;
    text-align: justify;
}

.section__btn {
    min-width: 200px;
    border: 2px solid var(--main-blue);
    background-color: transparent;
    border-radius: 55px;
    padding: 15px 30px;
    color: var(--main-blue);
    font-size: var(--description);
    font-weight: 700;
    cursor: pointer;
    display: block;
}

.section__btn:hover {
    background-color: var(--main-blue);
    color: white;
}

.no-scroll {
    overflow: hidden;
}