:root {
    --main-blue: #458FF6;
    --black: #000000;
    --white: #ffffff;
    --gray: #7D7987;
    --h2: 48px;
    --h3: 36px;
    --main-text: 21px;
    --description: 18px; 
    --content-text: 16px;
    --line-height: 54px;
    --transition: 0.75s cubic-bezier(0.075, 0.5, 1, 0)
}